<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js" integrity="sha512-iWPnCISAd/J+ZacwV2mbNLCaPGRrRo5OS81lKTVPtRg1wGTC20Cfmp5Us5RcbLv42QLdbAWl0MI57yox5VecQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect("http://localhost:5000")
        socket.on('connect', function(){
            socket.send("유저가 입장하였습니다.");
        });

        socket.on('message', function(data) {
            $('#messages').append($('<p>').text(data));
        });

        $('#sendBtn').on('click', function() {
            
            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }
            var idid = getCookie('session');
            socket.send(idid + ': ' + $('#message').val());
            $('#message').val('');
        });
    });
</script>
<div id="messages">

</div>
<input type="text" id="message" placeholder="Message">
<button id="sendBtn">Send</button>
</body>
